<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.1.213"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="93"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="day_time, low_beams, ambient_light, rotary, key_state, exterior_bright, engine"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TPTypeOK"/>
        <listEntry value="0IF rotary = &quot;ON&quot; /\ key_state = &quot;IN IGNITION&quot;&#10;    THEN /\ low_beams = 100&#10;    ELSE /\ TRUE"/>
        <listEntry value="0IF rotary = &quot;ON&quot; /\ key_state = &quot;INSERTED&quot; /\ ambient_light = &quot;OFF&quot;&#10; THEN /\ low_beams = 50&#10; ELSE /\ TRUE"/>
        <listEntry value="0IF rotary = &quot;AUTO&quot; /\ key_state = &quot;INSERTED&quot; /\ ambient_light = &quot;OFF&quot;&#10; THEN /\ low_beams = 0&#10; ELSE /\ TRUE"/>
        <listEntry value="0IF day_time = &quot;ON&quot; /\ engine = &quot;ON&quot; /\ ambient_light = &quot;OFF&quot;&#10; THEN /\ low_beams = 100&#10; ELSE /\ TRUE"/>
        <listEntry value="0IF rotary = &quot;AUTO&quot; /\ key_state = &quot;IN IGNITION&quot; /\ exterior_bright &lt; 200&#10; THEN /\ low_beams = 100&#10; ELSE /\ IF rotary = &quot;AUTO&quot; /\ key_state = &quot;IN IGNITION&quot; /\ exterior_bright &gt; 250 /\ day_time = &quot;OFF&quot;&#10;       THEN /\ low_beams = 0&#10;       ELSE /\ TRUE"/>
        <listEntry value="1IF engine = &quot;ON&quot; /\ ambient_light = &quot;ON&quot; /\ exterior_bright &lt; 200 /\ key_state /= &quot;IN IGNITION&quot;&#10; THEN low_beams = 100&#10; ELSE TRUE"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1Spec"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="0"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants"/>
    <stringAttribute key="modelParameterContraint" value=""/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="car_model"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
